ul {list-style: none;}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

body {
    background-color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, ul, p {
    margin: 0px;
    padding: 0px;
}

.container{
    margin: 0px auto;
    padding: 0px 15px;

     @media (min-width:$mobile){
        width: 480px;
    }
    
    @media (min-width:$tablet){
        width: 768px;
    }

    @media (min-width:$desktop){
        width: 1200px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}