.portfolio__container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 50px;
}

.filter__item {
    margin-right: 8px;

    &:last-child {
       margin-right: 0; 
    }
}

.filter__button {
    background: getColor('backgrount-light');
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor('title-color');

    border: 0px;
    padding: 6px 22px;
    border-radius: 4px;
    transition: background-color $duration $cubic-bezier, color $duration $cubic-bezier, box-shadow $duration $cubic-bezier;

    &:hover,
    &:focus {
      background-color: getColor('accent');
      color:#FFFFFF;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: -30px;
    margin-left: -30px;
    list-style: none;    
}

.grid__card {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    transition: box-shadow $duration $cubic-bezier;
    
    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06);
      transition: box-shadow $duration $cubic-bezier;
    }

    &:hover .grid__overlay {
        transform: translateY(0);
    }
}

.grid__thumb {
    height: 294px;
    position: relative;
    overflow: hidden;
}

.grid__img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.grid__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    transform: translateY(100%);
    transition: transform $duration $cubic-bezier;

    background-color: rgba(33, 150, 243, 0.9);
    color: #ffffff;
    padding: 63px 24px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
}

.grid__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--title-color);
    
    margin: 0px;
}
.grid__description {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    
    margin-top: 4px;
}

.grid__content {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    flex-grow: 1;
}

