.clients {
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width:$tablet) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.clients__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor('title-color');

    margin-bottom: 30px;

    @media (min-width:$desktop) {
        font-size: 36px;
        line-height: 42px;
        
        margin-bottom: 50px;
    }
}

.clients__list{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;  
}

.clients__item {
    width: calc((100% - 4 * 15px)/2);
    margin: 15px;

    @media (min-width:$tablet) {
        width: calc((100% - 6 * 15px)/3);
    }

    @media (min-width:$desktop) {
        width: calc((100% - 12 * 15px)/6);
    }
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    fill: getColor('icons-light');
    border: 1px solid getColor('icons-light');
    border-radius: 4px;
    transition: fill $duration $cubic-bezier, border $duration $cubic-bezier;

    &:hover,
    &:focus {
        fill: getColor('accent');
        border: 1px solid getColor('accent');
    } 
    
    &:hover .clients__logo,
    &:focus .clients__logo{
        fill: getColor('accent');     
    } 
}

.clients__logo {
    fill: getColor('icons-light');
    transition: fill $duration $cubic-bezier, border $duration $cubic-bezier;
}