.features {
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width:$desktop) {
        padding-top: 94px;
        padding-bottom: 0;    
    }
}

.features__cards {

    @media (min-width:$tablet){
        margin: -15px;
        display: flex;
        flex-wrap: wrap;    
    }
}

.features__item {
    @media (max-width:787px){
        &:not(:last-child) {
        margin-bottom: 30px;
        }
    }

    @media (min-width:$tablet){
        width: calc((100% - 4 * 15px)/2);
        margin: 15px;
    }

}

.features__box {
    background: getColor('background-light');
    border-radius: 4px;
    height: 120px;
    width: 100%;
    padding: 25px 0;
    margin-bottom: 30px;
}

.features__icon {
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
}

.features__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('title-color');
    text-align: center;

    margin-bottom: 10px;
}

.features__desc {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: getColor('primary');
}