.features {
    padding-top: 94px;
}

.features__cards {
    --gep-set: 30px;

    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
    margin-top: calc(-1 * var(--set-gap));
}

.features__item {
    flex-basis: calc(100%/4 - var(--gep-set));
    margin-left: var(--gep-set);
    margin-top: var(--gep-set);
}

.features__box {
    background: getColor('background-light');
    border-radius: 4px;
    height: 120px;
    width: 270px;
    padding: 25px 100px;
    margin-bottom: 30px;
}

.features__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('title-color');

    margin-bottom: 10px;
}

.features__desc {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: getColor('primary');
}