.mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    padding: 48px 40px;
    overflow-y: scroll;
        
    transform: translateX(100%);
    transition: transform $duration $cubic-bezier;
}

.mobile.is-open {
    transform: translateX(0);
}

.mobile-menu__button {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 11px;
    border: none;
    background-color: transparent;

    transition: fill $duration $cubic-bezier;

    &:hover,
    &:focus,
    &:active {
        fill: getColor('accent');
    }
}

.mobile-menu__link {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: getColor('title-color');

    &:hover, :focus {
        color: getColor('accent');
    }
}

.mobile-menu__item {
    margin-bottom: 32px;
}

.mobile__container {
    margin-top: auto;
}

.mobile__tel {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: getColor('accent');
}

.mobile__mail {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: getColor('primary');
    display: block;
    margin-top: 32px;
}

.mobile__socials {
    display: flex;
    margin-top: 64px;
}

.mobile__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);;
    padding: 0px 10px;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
        border-right: none;
    }

}

.mobile__link {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: getColor('accent');
}