.mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    padding: 48px 40px;

    transform: translateX(100%);
    transition: transform $duration $cubic-bezier;
}

.mobile.is-open {
    transform: translateX(0);
}

.mobile-menu__button {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 11px;
    border: none;
    background-color: transparent;

    transition: fill $duration $cubic-bezier;

    &:hover,
    &:focus,
    &:active {
        fill: getColor('accent');
    }
}

.mobile-menu__link {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: getColor('title-color');

    &:hover, :focus {
        color: getColor('accent');
    }
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-contacts {
    margin-top: 306px;
}

.mobile__tel {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: getColor('accent');
}

.mobile__mail {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: getColor('primary');
    margin-top: 32px;
}

.mobile__socials {
    display: flex;
}

.mobile__link {
    border-right: 1px solid getColor('primary');
}